<div class="container" >
    
<div class="row">
<div class="col-md-6">
    <app-pie-chart></app-pie-chart><br>
   <h4><span style="padding-left: 100px;"></span>Sales percentage(%) of Hardwares<br><span style="padding-left: 250px;"></span>(For Current Year)</h4>
</div>
<div class="col-md-6">
    <app-bar-chart></app-bar-chart><br>
    <h4><span style="padding-left: 90px;"></span>Production of Hardwares in Numbers<br><span style="padding-left: 300px;"></span>(For Current Year)</h4>
</div>
</div>
<app-scatter-plot-chart></app-scatter-plot-chart>
<h4><span style="padding-left: 200px;"></span>Profit gained Hardwares (In last 10 years)</h4>
</div>
